/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background-color: #011009;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  line-height: 1.75rem;
}

.animated-gradient {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #2ad775, #03f36f, #afffd2);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}

.body-solid-background {
  background-color: #000704;
  margin: 20px 20px 0 20px;
  border-radius: 10px 10px 0 0;
}

.plus-jakarta-sans-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.plus-jakarta-sans-normal {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.plus-jakarta-sans-light {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

<<<<<<< Updated upstream
.logo {
  width: 40px;
}

=======
/* Header */
>>>>>>> Stashed changes
header {
  flex: none;
  height: auto;
  left: 50%;
  position: fixed;
  top: 12px;
  transform: translate(-50%);
  width: auto;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 2px 10px -4px rgba(44, 54, 49, 0.75);
  -moz-box-shadow: 0px 2px 10px -4px rgba(44, 54, 49, 0.75);
  box-shadow: 0px 2px 10px -4px rgba(44, 54, 49, 0.75);
  border-radius: 10px;
}

.header-container {
  width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 30px;
}

.header-logo img {
  max-width: 150px;
}

.header-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-nav li {
  margin-left: 20px;
}

.header-nav-link {
  transition: color 0.3s;
  font-size: 14px;
  color: #5affa2;
}

.header-nav-link:hover {
  color: #ffffff;
}

.hero {
  min-height: 80vh;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  padding: 125px 75px 75px 75px;
  text-align: center;
}

.hero h1 {
  color: #ffffff;
  font-size: 4rem;
  line-height: 4.75rem;
}

.hero h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 800px;
  color: #adadad;
}

.book-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #011009; /* Primary color */
  color: #fff;
  border: 1px solid #2ad775;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.book-button:hover {
  background-color: #2ad775; /* Primary color */
  color: #011009;
}

.book-button-cta {
  display: inline-flex;
  align-items: center;
  padding: 8px 15px;
  background-color: none; /* Primary color */
  border: 1px solid #2ad775;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.book-button-cta:hover {
  background-color: #2ad775; /* Primary color */
}

/* SERVICES SECTION */
.services-section {
  padding: 30px 20px;
}

.services-page-section {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.service-page-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  color: #011009;
  background-color: #03f36f;
  padding: 30px;
  border-radius: 30px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 30px auto;
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #2ad775;
  padding: 30px;
  border-radius: 10px;
}

.service-card p {
  color: #adadad;
}

/* CLIENT LOGOS */
.client-logos {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding: 40px 0;
}

.logos-wrapper {
  margin: 50px auto 30px auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-slide {
  display: flex;
  align-items: center;
}

.logo-slide img {
  width: 120px;
  margin: 0 15px;
}

/* VALUE PROPOSITION */
.value-section {
  text-align: center;
  padding: 60px 20px;
}

.value-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 30px auto;
}

.value-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #011009;
  color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: left;
}

.textCenter {
  text-align: center;
}

.trackingTight {
  letter-spacing: -0.05rem;
}

.marginBottom60 {
  margin-bottom: 60px;
}

/* Text / Primary Colors */
.colorPrimary {
  color: #2ad775;
}
.colorPrimaryAlt {
  color: #34c576;
}
.colorSecondary {
  color: #011009;
}
.colorWhite {
  color: #fff;
}

/* Background Colors */
.bgPrimary {
  background-color: #5affa2;
}
.bgSecondary {
  background-color: #011009;
}

.bgWhite {
  background-color: #fff;
}

/* FOOTER */
footer {
  background-color: #011009;
  color: #fff;
  padding: 75px 30px 20px 30px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.footer-logo img {
  max-width: 150px;
}

.footer-links ul,
.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 10px;
}

.footer-links a,
.footer-social a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #5affa2;
}

.footer-bottom {
  margin-top: 50px;
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}
<<<<<<< Updated upstream
=======

/* Media Queries */
@media (max-width: 900px) {
  .header-nav li {
    margin-left: 15px;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .value-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  header {
    top: 0px;
    left: auto;
    width: 100%;
    transform: none;
    border-radius: 0;
    background-color: #011009;
    box-shadow: 0px 2px 10px -4px rgba(81, 96, 88, 0.75);
    backdrop-filter: none;
  }

  .hero-header-space {
    display: none;
  }

  .hero {
    min-height: auto;
    padding: 30px 30px 75px 30px;
  }

  .padding-top-50 {
    padding-top: 150px;
  }

  .body-solid-background {
    margin: 0;
    border-radius: 0;
  }

  .header-container {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
  }

  .header-nav li {
    margin-left: 10px;
  }

  .hero h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero h2 {
    font-size: 0.875rem;
  }

  .book-button {
    padding: 10px 15px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .value-container {
    grid-template-columns: 1fr;
  }

  footer {
    padding: 40px 20px;
  }
}
>>>>>>> Stashed changes
