/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter Extra Bold"; /* Choose a name for your font */
  src: url("fonts/web/Inter-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter Extra Bold", sans-serif;
}

header {
  background-color: #fff;
  padding: 25px 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
  -webkit-box-shadow: 0px 2px 10px -4px rgba(44, 54, 49, 0.75);
  -moz-box-shadow: 0px 2px 10px -4px rgba(44, 54, 49, 0.75);
  box-shadow: 0px 2px 10px -4px rgba(44, 54, 49, 0.75);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.header-logo img {
  max-width: 150px;
}

.header-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-nav li {
  margin-right: 20px;
}

.header-nav a {
  color: #2c3631;
  text-decoration: none;
  transition: color 0.3s;
}

.header-nav a:hover {
  color: #5affa2;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 75px;
}

.hero h1 {
  font-size: 5.5rem;
  line-height: 5.75rem;
}

.hero h2 {
  font-size: 2rem;
}

.interExtraBold {
  font-family: "Inter Extra Bold", sans-serif;
}

.trackingTight {
  letter-spacing: -0.05rem;
}

.marginBottom60 {
  margin-bottom: 60px;
}

/* Text / Primary Colors */
.colorPrimary {
  color: #5affa2;
}
.colorPrimaryAlt {
  color: #4ce591;
}
.colorSecondary {
  color: #2c3631;
}
.colorWhite {
  color: #fff;
}

/* Background Colors */
.bgPrimary {
  background-color: #5affa2;
}
.bgSecondary {
  background-color: #2c3631;
}
.bgWhite {
  background-color: #fff;
}

/* FOOTER */
footer {
  background-color: #2c3631;
  color: #fff;
  padding: 20px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.footer-logo img {
  max-width: 150px;
}

.footer-links ul,
.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 10px;
}

.footer-links a,
.footer-social a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #5affa2;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}
